#promt {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 500px;
    height: 500px;
    border: 1px solid rgba(91, 28, 91, 0.772);
}
#promt {
    position: absolute;

}
  a {
      margin-left: 10%;
  }
  .hide {
      display: none;
  }
  #startbtn {
    background-color: rgb(109, 47, 109);
    margin-left: 28%;
    padding: 12px 30px;
    font-size: 25px;
    color:aliceblue;
}
h1 {
  margin-left: 18%;
}
P {
    margin-left: 5%;
  }
  
  #quiz {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 500px;
    height: 500px;
  }
  
  #quiz p {
    position: relative;
bottom: 300px; left: 700px;
  }